:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #ffffff;
  --text-color: #213547;

  background-color: var(--background-color);
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: undelrine;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.1;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.2rem;
  }
}